api/api
api/boardImg.png
api/solution.gif
.env
config.json
gen/solver
gen/gen
front/ricochetrobots/node_modules/
front/ricochetrobots-redux/node_modules/
front/ricochetrobots-redux/public/userPics/
api/solgif/
