userPics
api/api
boardImg.png
solution.gif
api/boardImg.png
api/solution.gif
.env
config.json
gen/solver
solve/solver_classic
solve/solver_g
gen/gen
front/ricochetrobots/node_modules/
front/ricochetrobots-redux/node_modules/
front/ricochetrobots-redux/public/userPics/
api/solgif/
api/__debug_bin
