* {
    margin: 0px;
    padding: 0px;
    user-select: none;
    -webkit-user-drag: none;
}

#root{
    width:100vw;
    height:100vh;
    overflow: hidden;
    position: relative;
}

.simplebar-mask {
    position: unset!important;
}
/* .simplebar-content-wrapper {
    height:100%;
} */
.simplebar-scrollbar::before{
    background: saddlebrown!important;
}